sudo apt-get update && sudo apt-get install -y odbcinst unixodbc unixodbc-dev
curl https://packages.microsoft.com/keys/microsoft.asc | sudo apt-key add -
sudo curl -o /etc/apt/sources.list.d/mssql-release.list https://packages.microsoft.com/config/ubuntu/20.04/prod.list
sudo apt-get update && sudo apt-get install -y msodbcsql17

fastapi
uvicorn
pyodbc
pandas
